*{
  margin:0px;
  padding:0px;
}
.complete {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    position: absolute;
  }
  .dashboard__container {
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    color:white;
    align-content: center;
    margin-left: 1200px;
    font-size: larger;
    padding-right: 10px;
   
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    border-radius:5px ;
    color: white;
  }
  .div1{
    margin: 5px;
  }
