footer{
    width:100%;
    height:200px;
    background-color:black;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
link{
    margin: 20px;
}
.vivek{
    justify-content: center;
}
